{% extends 'base.html' %}
{% load humanize %}
{% block title %}Detalle de Insumos{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Detalle de Insumos</h1>
    <br>
    
    <!-- Bloque para las tarjetas Resumen y Item -->
    <div class="row">
        <!-- Tarjeta Item -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center mb-0">Item</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-6 text-start fw-bold">TIPO:</div>
                        <div class="col-6 text-end">{{ item.tipo.detalle }}</div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-start fw-bold">CANTIDAD:</div>
                        <div class="col-6 text-end">{{ item.cantidad }}</div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-start fw-bold">ANCHO X ALTO (cm):</div>
                        <div class="col-6 text-end">{{ item.ancho }} x {{ item.alto }}</div>
                    </div>
                    {% if item.ancho_hoja %}
                    <div class="row">
                        <div class="col-6 text-start fw-bold">ANCHO Hoja Patagonica (cm):</div>
                        <div class="col-6 text-end">{{ item.ancho_hoja }}</div>
                    </div>
                    {% endif %}
                </div>    
            </div>
        </div>
        <!-- Tarjeta Resumen -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center mb-0">Resumen</h5>
                </div>
                <div class="card-body">
                    {% for resumen in resumen_tipo_insumo %}
                        <div class="row mb-2">
                            <div class="col-6 text-start fw-bold">
                                {{ resumen.insumo__tipo_insumo__nombre|default:"Sin Tipo" }}:
                            </div>
                            <div class="col-6 text-end">
                                ${{ resumen.total_valor|floatformat:2|intcomma }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        
    </div>

    <br>
    {% if detalles %}
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center" scope="col">Codigo</th>
                    <th class="text-align-left" scope="col">Detalle</th>
                    <th class="text-center" scope="col">Cantidad Usada</th>
                    <th class="text-center" scope="col">Cantidad c/Desperdicio</th>
                    <th class="text-center" scope="col">Precio Unitario</th>
                    <th class="text-center" scope="col">Precio Total</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in detalles %}
                <tr>
                    <td class="text-center">{{ detalle.insumo__codigo }}</td>
                    <td class="text-align-left">{{ detalle.insumo__descripcion }}</td>
                    <td class="text-center">{{ detalle.cantidad_usada }}</td>
                    <td class="text-center">{{ detalle.cantidad_desperdicio|floatformat:2 }}</td>
                    <td class="text-end">${{ detalle.precio_unitario|intcomma }}</td>
                    <td class="text-end">${{ detalle.precio_total|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay insumos asociados a este ítem.</p>
    {% endif %}

    <div class="mt-4 d-flex justify-content-end">
        <a href="{% url 'detalle_presupuesto' item.presupuesto.numero %}" class="btn btn-secondary">Volver al Presupuesto</a>
    </div>
</div>
{% endblock %}

