{% extends 'base.html' %}
{% load humanize %}

{% block title %}Detalle del Presupuesto{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Detalle del Presupuesto</h1>
    <p class="text-align-left">Presupuesto Nro: {{ presupuesto.numero }}</p>  
    <p class="text-align-left">Cliente: {{ presupuesto.cliente }}</p>

    {% if items %}
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo</th>
                    <th class="text-center" scope="col">Cantidad</th>
                    <th class="text-center" scope="col">Ancho</th>
                    <th class="text-center" scope="col">Alto</th>
                    <th class="text-center" scope="col">Color</th>
                    <th class="text-center" scope="col">Revestimiento</th>
                    <th class="text-center" scope="col">Costo</th>
                    <th class="text-center" scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in items_con_costos %}
                    <tr>
                        <th scope="row">{{ entry.item.id }}</th>
                        <td>{{ entry.item.tipo.detalle }}</td>
                        <td class="text-center">{{ entry.item.cantidad }}</td>
                        <td class="text-center">{{ entry.item.ancho }}</td>
                        <td class="text-center">{{ entry.item.alto }}</td>
                        <td class="text-center">{{ entry.item.color.nombre }}</td>
                        <td class="text-center">{{ entry.item.revestimiento.nombre }}</td>
                        <td class="text-end">${{ entry.costo|intcomma }}</td>
                        <td class="text-center">
                            <a href="{% url 'editar_item' entry.item.id %}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'eliminar_item' entry.item.id %}" class="btn btn-danger btn-sm" 
                            onclick="return confirm('¿Estás seguro de que deseas eliminar este ítem?')">Eliminar</a>
                            <a href="{% url 'detalle_insumos' entry.item.id %}" class="btn btn-info btn-sm">Ver Insumos</a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
    
        <div class="text-right mt-4">
            <h3>Total: ${{ total|intcomma }}</h3>
        </div>
    {% else %}
        <p class="text-center">No hay ítems asociados a este presupuesto.</p>
    {% endif %}

    <div class="d-flex justify-content-end mt-4">
        <!-- Botón "Volver al Dashboard" alineado a la izquierda -->
        <a href="{% url 'dashboard' %}" class="btn btn-secondary me-2">Volver al Dashboard</a>
        
        <!-- Botón "Agregar Nuevo Ítem" alineado a la derecha -->
        <a href="{% url 'nuevo_item' presupuesto.numero %}" class="btn btn-primary">+ Agregar Nuevo Ítem</a>
    </div>
    
</div>
{% endblock %}
