{% extends 'base.html' %}
{% load humanize %}
{% block title %}Detalle de Insumos{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Detalle de Insumos</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 row-col-lg-6">
                <div class="row">
                    <div class="col-6 text-start fw-bold">TIPO:</div>
                    <div class="col-6 text-left">{{ item.tipo.detalle }}</div>
                </div>
                <div class="row">
                    <div class="col-6 text-start fw-bold">CANTIDAD:</div>
                    <div class="col-6 text-left">{{ item.cantidad }}</div>
                </div>
                <div class="row">
                    <div class="col-6 text-start fw-bold">ANCHO X ALTO (cm):</div>
                    <div class="col-6 text-left">{{ item.ancho }} x {{ item.alto }}</div>
                </div>
                {% if item.ancho_hoja %}
                <div class="row">
                    <div class="col-6 text-start fw-bold">ANCHO Hoja Patagonica (cm):</div>
                    <div class="col-6 text-left">{{ item.ancho_hoja }}</div>
                </div>
                {% endif %}
            </div>    
        </div>
    </div>
    <br>
    {% if detalles %}
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center" scope="col">Codigo</th>
                    <th class="text-align-left" scope="col">Detalle</th>
                    <th class="text-center" scope="col">Cantidad Usada</th>
                    <th class="text-center" scope="col">Precio Unitario</th>
                    <th class="text-center" scope="col">Precio Total</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in detalles %}
                <tr>
                    <td class="text-center">{{ detalle.insumo.codigo }}</td>
                    <td class="text-align-left">{{ detalle.insumo.descripcion }}</td>
                    <td class="text-center">{{ detalle.cantidad_usada }}</td>
                    <td class="text-end">${{ detalle.precio_unitario|intcomma }}</td>
                    <td class="text-end">${{ detalle.precio_total|intcomma }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay insumos asociados a este ítem.</p>
    {% endif %}

    <div class="mt-4">
        <a href="{% url 'detalle_presupuesto' item.presupuesto.numero %}" class="btn btn-secondary">Volver al Presupuesto</a>
    </div>
</div>
{% endblock %}
