{% extends 'base.html' %}

{% block title %}Nuevo Ítem{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Agregar Nuevo Ítem</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" id="cantidad" name="cantidad" class="form-control" required>
                </div>
                <div class="form-group mb-3">
                    <label for="ancho">Ancho (cm)</label>
                    <input type="number" step="0.01" id="ancho" name="ancho" class="form-control" required>
                </div>
                <div class="form-group mb-3">
                    <label for="alto">Alto (cm)</label>
                    <input type="number" step="0.01" id="alto" name="alto" class="form-control" required>
                </div>
                <div class="form-group mb-3">
                    <label for="tipo">Tipo</label>
                    <select id="tipo" name="tipo" class="form-control" required>
                        <option value="" disabled selected>Cargue el tipo</option>
                        {% for tipo in tipos %}
                            <option value="{{ tipo.id }}">{{ tipo.detalle }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="color">Color</label>
                    <select id="color" name="color" class="form-control" required>
                        <option value="" disabled selected>Elija Color</option>
                        {% for color in colores %}
                            <option value="{{ color.id }}">{{ color.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="revestimiento">Revestimiento</label>
                    <select id="revestimiento" name="revestimiento" class="form-control" required>
                        <option value="" disabled selected>Elija Revestimiento</option>
                        {% for revestimiento in revestimientos %}
                            <option value="{{ revestimiento.id }}">{{ revestimiento.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary w-100">Guardar Ítem</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
